/* Links */
.masthead-nav a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.masthead-nav a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: #b0b0b0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.masthead-nav a:hover:after {
  width: 100%;
  left: 0;
}

.grad {
  background-color: #457b9d;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-top: 60px;
  margin-left:auto;
  margin-right: auto;
}

.line {
  background-image: linear-gradient(to bottom,#457b9d, rgba(255,0,0,0));
  width: 3px;
  height: 200px;
  top: 1px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 5em, 5em, 5em, 5em;
}

.line-volunteering {
  height: 100px;
}

.grad-item {
  margin-top: 0;
  width: 25px;
  height: 25px;
}

.line-item {
  height: 1900px !important;
}

.logos-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.logo-icon {
  width: 5vw;
  margin: 2%;
  transition: transform .2s; /* Animation */
}


.logo-icon:hover {
  transform: scale(1.1);
}

#timeline {
  margin-top: 100px;
  font-size: 16px;
}

#timeline h2{
  margin-bottom: 0;
}

#timeline h4{
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 100;
  color: #0d1b2a;
}

#timeline-line{
  justify-content: center;
  position: absolute;
}

.timeline-item{
  justify-content:space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  font-size: 0.8em;
}

.timeline-centre {
  width: 30px;
  height: 100%;
}

.timeline-column {
  width: 100%;
}

.upcoming {
  text-align: center  !important;
}

.experience{
  width: 70%;
  line-height: 1.5;
  height: auto;
  color: #0d1b2a;
  background: #F3F3F3;
  text-align: left;
  padding-left: 15px;
  padding-right: 20px;
  transition: box-shadow .5s;
}

.experience-left.experience{
  border-right: 3px solid #16425b;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.experience-right.experience{
  border-left: 3px solid #16425b;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.experience ul {
  padding-left: 0;
  list-style-type: none;
}

.experience:hover {
  box-shadow: 0px 0px 80px 15px rgba(94, 94, 94, 0.4);
}

.experience h2 {
  margin-top: 0;
}

.experience-left{
  float: right;
  margin-right: 0;
}

.experience-right{
  float: left;
  margin-left: 10px;
}

.date {
  border-radius: 15px;
  background-color: #16425b;
  padding-left: 15px;
  padding-right: 20px;
}

.date h3 {
  height: auto;
  margin: 0;
  font-weight: 500;
}

.date p{
  margin: 0;
}

#experience  {
  margin-top: 0.5%;
  padding-top: 0.3%;
}
#experience h1{
  color: #16425b;

}

#about.inner {
    color: #AAA6C3;
    width: 80%;
  
}

#contact-canvas {
  margin-top: 10%;
  padding-top: 3%;
}

.contact-image {
  width: 40%;
  margin-top: 5%;
  justify-self: center;
}

.contact-image img{
  width: 100%;
  border-radius: 50%;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.contact-item {
  align-items: center;
  justify-content: center;
  display: block;
  margin-top: 160px;
  padding-bottom: 5%;
  width: 100%;
}

.contact-centre {
  text-align: start;
  transition: box-shadow .3s;
  border-radius: 30px;
  background-color: #143B52;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 80vw;
  margin-left: 10vw;
  height: 1%;
}

.contact-centre:hover{
  box-shadow: 0px 0px 200px 7px rgba(255,255,255,0.05);
}

.contact-centre h1 {
  color: white !important;
  font-size: 30px;
}

.contact-centre p {
  padding-top: 5%;
}

#contact-form {
  font-weight: 500;
  display: flex; 
  flex-direction: column;
  align-content: space-evenly;
}

#contact-form input,
#contact-form textarea  {
  background-color: #184763;
  border-radius: .5rem;
  height: 16px;
  padding: 1rem 1.5rem;
  font-size: 100%;
  font-weight: 500;
  color: white;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-style: none;
}

#contact-form textarea {
  height: 15vh;
  resize:vertical;
}

#contact-form button {
  width: 40%;
  font-size: 1rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  border-radius: .5rem;
  background-color: #235476;
  color: white;
  transition-duration: 0.4s;
  font-weight: bold;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

#contact-form button:hover {
  cursor: pointer;
  background-color: #122c3f;
  

}


::placeholder {
  color: rgb(179, 179, 179);
}




/*
 * Base structure
 */
html,
body {
  height: 100%;
  width: 100vw;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  line-height: 1.8;
  color: white;
  text-align: center;
  padding-left: 0;
  margin: 0;
  padding: 0;
  font-weight: 300 !important;
  position: fixed;
  overflow-y:auto;
}

p {
  margin-top: 0;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; 
}

.site-wrapper-contact{
  padding-top: 10%;
  height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;  
}

.cover-projects {
  margin-left: 10%;  
}

/* Padding for spacing */
.inner {
  padding: 30px;
  padding-left: 5px;
}

.inner p {
  color: #0d1b2a;
  width: 100%;
  font-size: 1.1em;
}

.container-skills {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}

.container-volunteering {
  margin-top: 30px;
  display: block;
  justify-content: center;
  padding-bottom: 3%;
}

.volunteering-split {
  margin-left: 3%;
  margin-right: 2%;
}


.volunteering {
  color: #0d1b2a;
  border-radius: 25px;
  width: 90%;
  height: 100%;
  font-size: 1rem;
  line-height: normal;
  background: #F3F3F3;
  margin-left: 2.5%;
  display: flex;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 300;
  transition: box-shadow .5s;
}

.volunteering:hover {
box-shadow: 0px 0px 80px 15px rgba(94, 94, 94, 0.4);
}


.volunteering h2 {
  margin-bottom: 10px;
  width: 100%;
}

.volunteering h4{
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 100;
}

.volunteering-date {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.volunteering-logo-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

#volunteering.cover {
  padding-top: 100px;
}
/*
 * Header
 */
 #masthead {
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #0d1b2a;
  margin-bottom: 15px;
  z-index: 100;
  position: fixed;
 }

.masthead-split {
  padding-left: 2.5%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.masthead-brand {
  margin-top: 10px;
  font-weight: 500;
}

.masthead-nav {
 margin: 0;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}

ul.nav.masthead-nav{
  padding-left: 0 !important;
}

.head-links {
  display: none;
  width: 10%;
  align-items: center;
  height: 100%;
}
.head-links a {
  display: flex;
  align-items: center;
}

.head-logo {
  width: 70%;
}

.inner.projects {
  padding-bottom: 0;
}


/*
 * Cover
 */

.cover {
  padding-top: 100px;
  text-shadow: none;
  text-align: left;
  display: flex;
  justify-content: start;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: 700;
}

.cover-projects{
  padding-top: 0;
}

.projects-line {
  height: 130px !important; 
}

.cover-heading {
  font-size: 40px;
  margin-bottom: 0;
}

h1.cover-heading {
  color: #16425B;

}

h1.cover-heading-title {
  color: white;
}

.lead {
  margin-top: 1px;
}

.project {
  margin-top: 3%;
  width: 100%;
  display: block;
  justify-content: space-between;
  color: #0d1b2a;
  text-align: start;
  align-items: center;
  left: 0;
}

.project-sub {
  width: 95%;
  padding-left: 2.5%;
}

.project h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

.project-link {
  width: 40%;
}

.project p {
  font-size: 1rem;
  font-weight: normal;
}

.project-img{
  margin-left: 15%;
  width: 70%;
  border-radius: 10%;
  transition: transform .2s;
  /* transition: box-shadow .5s; */
  border: solid 2px #16425b;
}

.project-img:hover{
  transform: scale(1.01);
  /* box-shadow: 0px 0px 80px 15px rgba(94, 94, 94, 0.4); */
}

.project-laptop{
  margin-left:10%;
  width: 80%;
  transition: transform .2s; /* Animation */
}

.project-laptop:hover{
  transform: scale(1.05);
}


.project-info {
  width: 95%;
  margin-left: 2.5%;
}

.tag {
  display: flex;
  flex-wrap: wrap;
}

.tag p {
  padding: 1%;
  margin-right: 1%;
  border-radius: 12px;
  color: white;
  font-size: 14px;
}

.framework {
  background-color: #8AACBE;
}

.software {
  background-color: #2F6690;
}

.language {
  background-color: #81C3D7;
}

.border {
  margin-top: 1%;
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-self: center;
  justify-content: center;
} 

.border-dot {
  color: #0003;
  font-size: 1.5rem;
  margin: 0 10px;
  padding: 0;
}

.border-line {
  background-color: #0003;
  height: 1px;
  width: 35%;

}


.logo-small {
  width: 5%;
  height: 5%;
  transition: transform .3s; /* Animation */
}

.logo-small:hover {

  transform: scale(1.1);
}

.git-logo {
  padding: 0 !important;
}


.card-logo {
  margin-top: 30px;
}

.logos {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-evenly;
  
}

.logo {
  width: 8vw;
  height: 8vw;
}

.link-logo {
  width: 40px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  position: relative;
}

.volunteering-logo {
  width: 12%;
  aspect-ratio: 1 / 1;
  position: relative;
  margin: 2.5%;
  margin-bottom: 1.5%;
}

/*
 *  Scroll down arrow
 */
.scroll {
  bottom: 5%;
  left: 50%;
  position: absolute;
}

#scroll-down {
	display: block;
	position: relative;
	padding-top: 79px;
	text-align: center;
}

.arrow-down {
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 38px;
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(135deg);
}

#scroll-down::before {
	animation: elasticus 1s cubic-bezier(1, 0, 0, 1) infinite;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -1px;
	width: 3px;
	height: 90px;
	background: white;
	content: " ";
}

@media (min-width: 751px) {

  .contact-centre {
    width: 35vw;
    margin-left: 0;
  }


  .experience ul {
    padding-left: 40px;
    list-style-type:disc;
  }

  
  .experience {
    width: 100%;
    line-height: 1.8;
  }
  .timeline-item {
    font-size: 16px;
  }
  .experience-left{
    margin-right: 50px;
  }
  
  .experience-right{
    margin-left: 50px;
  }

  .grad {
    margin-top: 110px;
  }
  .line {
    height: 300px;
  }
  .container-volunteering {
    display: flex;
  }

  .volunteering {
    width: 60%;
  }

  .project-img{
    width: 100%;
    margin-left: 0;
  }

  .project-laptop{
    width: 100%;
    margin-left: 0;
  }
  
  .contact-image {
    width: 20%;
    margin-top: 0;
    justify-self: normal;
  }
  

  #masthead {
    height: 50px;
   }

  .mastfoot,
  .cover-container {
    width: 90%;
  }

  .masthead-split {
    width: 80vw;
    padding-left: 10vw;
  }

  .grad-item {
    margin-top: 0;
  }

  .inner p {
    width: 80%;
    font-size: 1.1em;
  }

  .experience{
    width: 80%;
  }

  .cover-heading {
    font-size: 60px;
  }

  .project {
    display: flex;
    justify-content: space-evenly;
  }

  .project-info {
    width: 60%;
  }

  .line-volunteering {
    height: 200px;
  }
  
  .logo {
    width: 4vw;
    height: 4vw;
  }

  .contact-item {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    margin-top: 160px;
    padding-bottom: 5%;
    width: 80%;
    margin-left: 10%;
  }

  .project-sub {
    width: 90%;
    padding-left: 5%;
  }

  .head-links {
    display: flex;
  }

}

@media (min-width: 1201px) {
  .project-sub {
    width: 75%;
    padding-left: 12.5%;
  }
  .contact-centre h1 {
    font-size: 48px;
  }

  .project-info {
    width: 40%;
  }

  .cover-heading {
    font-size: 80px;
  }

  .mastfoot,
  .cover-container {
    width: 80%;
  }



  .masthead-split {
    width: 50vw;
    padding-left: 25vw;
  }

  .logos-list {
    padding-left: 5%;
    width: 90%;
  }

  .logo-icon {
    width: 3vw;
    margin: 2%;
    transition: transform .2s; /* Animation */
  }

  .experience{
    width: 70%;
  }

  .inner p {
    width: 60%;
  }
}