* {
	margin: 0;
	padding: 0;
	font-size: 90%;
	scroll-behavior: smooth;
}

body {
	font-family: "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 1.5em;
	color: black;
	background-color: purple;
}
/* Main Menu */
#main-menu {
	background-color: rgba(92, 92, 92, 0.6);
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 10;
	border-bottom: 1px solid grey;
	transition: top 0.3s;
	font-size: 23px;
	/* Transition effect when sliding down (and up) */
}

#main-menu ul {
	padding: 0.5em 0;
	text-align: center;
	display: flex;
	justify-content: center;
}

#main-menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

#main-menu a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 0.25em 1em;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	display: inline-block;
	position: relative;
}

img {
	width: 10%;
	display: inline-block;
}

/* Page Split */
.split-container {
	background-color: red;
	display: flex;
	
}

.left {
	
	background-color: blue;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
}

.right {
	background-color: pink;
}

/* Page Footer */
#page-footer {
	background-color: rgb(92, 92, 92);
	color: white;
	padding: 1.5em 3em;
	font-size: 16px;
}

.secondary-menu li {
	list-style: none;
	padding: 0;
	font-size: 20px;
}

.secondary-menu a {
	color: white;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #b0b0b0;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

a:hover:after {
	width: 100%;
	left: 0;
}

.link {
	font-size: 20px;
	color: #6b6b6b;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-weight: 800;
}