* {
	margin: 0;
	padding: 0;
	font-size: 90%;
	scroll-behavior: smooth;
	font-family: "Times New Roman", sans-serif;
	font-size: 18px;
	line-height: 1.5em;
}

body {
	background-color: #a9a9a9;
	margin-top: 5%;
	
}

h1 {
	font-size: 30px;
	padding-bottom: 15px;
	border-bottom: 2px solid grey;
	margin-bottom: 15px;
}

/* Main Menu */
#main-menu {
	background-color: rgba(92, 92, 92, 0.6);
	position: fixed;
	width: 100%;
	z-index: 10;
	border-bottom: 1px solid grey;
	transition: top 0.3s;
	font-size: 23px;
}

#main-menu ul {
	padding: 0.5em 0;
	text-align: center;
	display: flex;
	justify-content: center;
}

#main-menu li {
	list-style: none;
	padding: 0.1em 0.5em;
}

#main-menu a {
	display: block;

	text-decoration: none;
	padding: 0.25em 1em;
	border-radius: 3px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	display: inline-block;
	position: relative;
}

.shortcuts {
	width: 100%;
	font-size: 23px;
}

.shortcuts ul {
	padding: 0.5em 0;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.shortcuts li {
	list-style: none;
	padding: 0.1em 0.5em;
}

.shortcuts a {
	font-weight: 800;
	display: block;
	font-size: 25px;
	text-decoration: none;
	color: black;
	padding: 0.25em 1em;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

img {
	width: 100%;
}

.container {
	display: flex;
	padding-right: 5%;
	padding-bottom: 3%;
}

.container-bio{
	background-color: lightgray;
	width: 30%;
	left: 10%;
	right: 5%;
	position: fixed;
	padding: 1%;
	border-radius: 25px;
}

.container-bio h1{
	text-align: center;
}



.item {
	width: 100%;
	padding-left: 48%;
	justify-content: center;
}

.logos {
	width: 100%;
	display: flex;
	justify-content: center;
}

.logo {
	width: 10%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	position: relative;
}


a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #b0b0b0;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

a:hover:after {
	width: 100%;
	left: 0;
}

.link {
	font-size: 20px;
	color: #6b6b6b;
	text-decoration: none;
	display: inline-block;
	position: relative;
	font-weight: 800;
}